@page
@model ChangesIndexModel
@{
    ViewData["Title"] = "Changes";
}

<center>
    <a class="btn btn-primary" asp-page="Add">Add</a>
    <a class="btn btn-primary" href="/Changes/Category">Categories</a>
</center>
<br />

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Created</th>
            <th scope="col">Category</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Library.Types.Change CurrentChange in Model.Changes)
        {
            <tr>
                <th scope="row">@CurrentChange.ID</th>
                <td>@CurrentChange.TITLE</td>
                <td>@CurrentChange.CHANGENEWS</td>
                <td>@CurrentChange.CREATED_AT.Date</td>
                <td>@Model.Categories[CurrentChange.CAT]</td>
                <td>
                    <a class="btn btn-danger btn-sm" role="button" id="delete" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javascript:;">Delete</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="modal-body">
                            <p>Are you sure, you want to delete this Change?</p>
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-danger mr-2" href="/Changes/Delete?id=@CurrentChange.ID">Confirm</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <a class="btn btn-info btn-sm" role="button" href="/Changes/Edit?id=@CurrentChange.ID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>