@page
@model TasksIndexModel
@{
    ViewData["Title"] = "Tasks";
}

<center>
    <a class="btn btn-primary" asp-page="Add">Add</a>
</center>
<br />

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Project</th>
            <th scope="col">Assigned</th>
            <th scope="col">Creator</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Library.Types.Task CurrentTask in Model.Tasks)
        {
            <tr>
                <td>
                    @if (CurrentTask.DONE)
                    {
                        <input type="checkbox" checked onclick="window.location = '/Tasks/Done?id=' + @CurrentTask.ID">
                    }
                    else
                    {
                        <input type="checkbox" onclick="window.location = '/Tasks/Done?id=' + @CurrentTask.ID">
                    }
                </td>
                <td>@CurrentTask.TITLE</td>
                <td>@CurrentTask.PROJECT</td>
                <td>
                    <select id="InputCategory1" class="form-control" data-role="select-dropdown" data-profile="minimal">

                        @if (!(CurrentTask.ASSIGNED == null | CurrentTask.ASSIGNED == 0)) { <option class="dropdown-item" href="#">@Model.Accounts[CurrentTask.ASSIGNED].USERNAME</option>}
                        <option class="dropdown-item" onclick="window.location = '/Tasks/Assign?id=@CurrentTask.ID'">Not set</option>

                        @foreach (Library.Types.Account CurrentAccount in Model.AllUsers)
                        {
                            if (CurrentAccount.ID != CurrentTask.ASSIGNED)
                            {
                                <option class="dropdown-item" onclick="window.location = '/Tasks/Assign?id=@CurrentTask.ID&user=@CurrentAccount.ID'">@CurrentAccount.USERNAME</option>
                            }
                        }

                    </select>
                </td>
                <td>@Model.Accounts[CurrentTask.CREATOR].USERNAME</td>
            </tr>
        }
    </tbody>
</table>